@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nvkcfe');
  src:  url('../fonts/icomoon.eot?nvkcfe#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nvkcfe') format('truetype'),
    url('../fonts/icomoon.woff?nvkcfe') format('woff'),
    url('../fonts/icomoon.svg?nvkcfe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e905";
}
.icon-cross:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e902";
}
.icon-facebook-with-circle:before {
  content: "\e903";
}
.icon-twitter-with-circle:before {
  content: "\e904";
}
