* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */

body {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color: #3c3c3b;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: inherit;
}

h1,h2,h3,h4,h5 {
    line-height: 1.3;
}

h1 { font-size: 1.75em; }
h3 { font-size: 1.375em; }

.pure-g,
.pure-g [class*=pure-u] {
    font-family: inherit;
    margin-bottom: 15px;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */

.l-wrapper {
    max-width: 75em;
    padding: 0 15px;
    margin: 0 auto;
}

.l-wrapper--small {
    max-width: 640px;
    margin: 0 auto;
}

.l-form {
    background: rgb(240,133,41);
    background: -moz-linear-gradient(0deg, rgba(240,133,41,1) 0%, rgba(255,255,255,1) 80%);
    background: -webkit-linear-gradient(0deg, rgba(240,133,41,1) 0%, rgba(255,255,255,1) 80%);
    background: linear-gradient(0deg, rgba(240,133,41,1) 0%, rgba(255,255,255,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f08529",endColorstr="#ffffff",GradientType=1);
    padding: 40px 0;
}

.l-form legend {
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.l-form label {
    margin: 0 0 15px 0;
}

.l-form .label {
    margin: 0 0 5px 0;
}

.l-form .nav {
    text-align: center;
    margin: 30px 0 15px;
}

.l-form .nav > li {
    display: block;
    margin: 10px 0;
}

.l-form .nav-pills > li {
    float: none;
}

.l-form .nav > li > a {
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .5px;
}

.l-form .nav-pills > li > a {
    background-color: #ffffff;
    border: 1px solid #383838;
    color: #383838;
}

.l-form .nav-pills > li.active > a, 
.l-form .nav-pills > li.active > a:hover,
.l-form .nav-pills > li.active > a:focus {
    background-color: #2ba1e7;
    border-color: transparent;
    color: #ffffff;
}

.l-boost .img-boost {
    display: block;
    max-width: 140px;
    margin: 0 auto;
}

.l-boost .img-arrow {
    display: block;
    max-width: 200px;
    margin: 0 auto;
}

.l-boost__upper {
    padding: 25px 0;
}

.l-boost__lower {
    background-image: url(../../img/bg-boost.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

.l-boost__lower .pure-g {
    align-items: center;
}

.l-inquiries {
    padding: 40px 0;
    background-color: #d5d5d5;
}

.l-software {
    background-image: url('../../img/bg-orange.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 40px 0;
}

.l-software .card .label {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.l-hardware {
    background-image: url('../../img/bg-blue.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 40px 0;
}

.l-hardware .card {
    padding-top: 110px;
}

.l-hardware .card .label {
    display: block;
    text-align: right;
    font-size: 20px;
    font-weight: 300;
    margin-top: -15px;
    margin-bottom: 10px;
}

.l-software h3 {
    margin-top: 0;
}

.l-applications {
    margin: 30px 0;
}

.l-footer {
    background-color: #383838;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 0.875em;
}

.l-footer .list-inline {
    margin: 0;
}

.l-footer li {
    padding: 0 5px;
}

.l-footer a {
    text-decoration: none;
    color: #ffffff;
}

.l-hero {
    padding-bottom: 40px;
}

.l-hero h1 {
    margin-top: 0;
}

.l-hero .subheadline {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
}

.l-hero .img-pos {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.l-inquiries a {
    color: inherit;
}

.l-inquiries a:hover,
.l-inquiries a:active {
    color: #f07d00;
}
/*

 * -- CUSTOM LIST STYLES --
 * I want my pure-button elements to look a little different
 */

 .list-checklist {
    list-style: none;
    padding: 0;
}

.list-checklist > li {
    position: relative;
    padding: 3px 0 3px 30px;
}

.list-checklist > li.is-available:before {
    position: absolute;
    left: 0;
    font-family: 'icomoon' !important;
    content: "\e905";
}

.list-checklist > li.not-available:before {
    position: absolute;
    left: 0;
    font-family: 'icomoon' !important;
    content: "\e906";
}

.list-inline {
    padding-left: 0;
}

.list-inline > li {
    display: inline-block;
}

.list-applications img {
    display: block;
    max-width: 150px;
    max-height: 80px;
    margin: 0 auto;
}

.list-applications {
    margin: 25px 0;
    padding: 0;
    text-align: center;
}

.list-applications li {
    list-style: none;
    margin: 20px 0;
}

.list-icons > li {
    padding-left: 30px;
    padding-bottom: 20px;
}

.list-icons i,
.list-icons a {
    display: inline-block;
    vertical-align: middle;
}

.list-icons i {
    font-size: 30px;
}

.list-icons a {
    padding-left: 15px;
    text-decoration: none;
}


/*
 * -- CUSTOM COMPONENTS STYLES --
 * I want my pure-button elements to look a little different
 */

.heading {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 80px;
    color: #f0821f;
}

.heading:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50px;
    height: 20px;
    background-image: url('../../img/img-drop-left.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.heading:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 20px;
    background-image: url('../../img/img-drop-right.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.heading-purple {
    color: #662483;
}

.heading-purple:before {
    background-image: url('../../img/img-drop-left-purple.png');
}

.heading-purple:after {
    background-image: url('../../img/img-drop-right-purple.png');
}

.usp {
    padding: 25px 0;
    background-color: #f0821f;
    color: #ffffff;
    margin: 0;
}

.usp li {
    position: relative;
    padding-left: 25px;
    margin-left: 20px;
}

.usp li:first-child {
    margin-left: 0;
}

.usp li:after {
    content: '';
    height: .5em;
    width: .5em;
    background: #ffffff;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.boost {
    padding: 25px 0;
}

.boost__list {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    text-align: left;
}

.boost__list:after {
    content: '';
    height: .5em;
    width: .5em;
    border-radius: 100%;
    background: #ffffff;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.card {
    position: relative;
    padding-top: 80px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
}

.card-1 .price,
.card-1 .label {
    color: #ed6977;
}

.card-2 .price,
.card-2 .label {
    color: #f7a84d;
}

.card-3 .price,
.card-3 .label {
    color: #28926b;
}

.card .img-product {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 130px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.card .description {
    display: block;
    text-align: center;
    padding: 20px 0;
}

.card__container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    height: 100%;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}

.card .title {
    font-size: 24px;
    font-weight: 600;
}

.list-description {
    padding-left: 0;
    list-style-position: inside;
    font-size: 18px;
    padding-top: 20px;
}

.list-description > li {
    padding-bottom: 5px;
}

.list-description > li:last-child {
    padding-bottom: 0;
}

.price {
    display: block;
    margin: 10px 0;
    line-height: 1;
    text-align: center;
}

.price span {
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
}

.price sup {
    display: inline-block;
    vertical-align: text-top;
    font-size: 24px;
    font-weight: bold;
}

.tag {
    display: inline-block;
    border: 1px solid #f39200;
    padding: 0;
}

.tag__left,
.tag__right {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 8px;
}

.tag__left {
    background-color: #f39200;
}

.tag__right {
    margin-left: -4px;
}

.tag--hexagon {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    width: 139px;
    height: 120px;
    padding: 0 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
}

.tag--hexagon .tag__label {
    display: table-cell;
    vertical-align: middle;
}

.tag--hexagon.tag-red {
    background-image: url('../../img/img-hex-red.png');
}

.tag--hexagon.tag-yellow {
    background-image: url('../../img/img-hex-yellow.png');
}

.tag--hexagon.tag-green {
    background-image: url('../../img/img-hex-green.png');
}

.hero-img {
    display: block;
    max-width: 350px;
    margin: 0 auto;
    width: 100%;
}

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */

input[type=checkbox], input[type=radio] {
    margin-right: 5px;
}

.pure-form-retail {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 30px;
    font-size: 14px;
}

.pure-form-retail .radio--software .pure-checkbox,
.pure-form-retail .radio--software .pure-radio,
.pure-form-retail .radio--hardware .pure-checkbox,
.pure-form-retail .radio--hardware .pure-radio {
    margin-top: 0;
    margin-bottom: 0;
}

.pure-form-retail .radio--software label {
    display: inline-block;
    padding-right: 20px;
}

.pure-form-retail .radio--software label:last-child {
    display: inline-block;
    padding-right: 0;
}

.pure-form-retail  .radio--hardware label {
    display: inline-block;
    width: 100%;
    vertical-align: text-top;
}

.pure-form-retail .pure-button {
    margin: 20px 0;
}

.radio--software,
.radio--hardware {
    margin-bottom: 15px;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */

.pure-button {
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .5px;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #3281c3;
    color: #fff; 
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.header {
    position: relative;
}

.retail-menu {
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.25);
    padding: 10px 0;
}

.retail-menu .pure-menu-heading {
    padding: 0;
}

.retail-menu > .l-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.retail-menu .pure-menu-logo {
    max-height: 40px;
}

.retail-menu .pure-menu-item {
    padding-right: 10px;
}

.retail-menu .pure-menu-item:last-child {
    padding-right: 0;
}

.retail-menu .pure-menu-link {
    line-height: 0;
    padding: 0;
}

.retail-menu i {
    font-size: 2em;
}

.retail-menu .icon-facebook-with-circle {
    color: #2a5297;
}

.retail-menu .icon-twitter-with-circle {
    color: #1da1f3;
}


/*
 * -- HELPER STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */
.color-white {
    color: #ffffff;
}

.color-orange {
    color: #f07d00;
}

.color-blue {
    color: #0c4e9e;
}

.color-purple {
    color: #662483;
}

.color-red {
    color: #ed6977;
}

.color-green {
    color: #28926b;
}

.color-yellow {
    color: #f7a84d;
}

.bg-light-orange {
    background-color: #e58d1e;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */

@media screen and (min-width: 48em) {
    h1 { font-size: 2em; }
    h3 { font-size: 1.75em; }
    
    .retail-menu .pure-menu-logo {
        max-height: 50px;
    }

    .boost__list {
        display: inline-block;
        margin: 10px 30px;
        vertical-align: middle;
    }

    .list-applications li {
        display: inline-block;
        list-style: none;
        margin: 20px 40px;
        vertical-align: middle;
    }

    .l-form .nav > li {
        display: inline-block;
        padding: 10px 5px;
    }

    .pure-form-retail {
        padding: 20px 60px;
    }

    .pure-form-retail  .radio--hardware label {
        width: 50%;
        margin-left: -4px;
    }
    
    .pure-form-retail  .radio--hardware label:first-child {
        margin-left: 0;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
 @media screen and (max-width: 991px) and (min-width: 540px){
    .pure-g, .pure-g [class*=pure-u]{
        display: block;
        width: 100%;
        text-align: center;
    }
 }
 @media screen and (min-width: 64em) {
    .l-hero {
        padding-top: 5%;
        background-image: url('../../img/img-hero-2.jpg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
    }

    .l-hero .img-pos {
        display: none;
    }

    .card {
        padding-right: 50px;
        padding-left: 50px;
        height: 100%;
    }
 }