/*header navbar*/
.navbar-light .navbar-nav .nav-link {
    line-height: 1;
    padding: 10px 0;
    width: fit-content;
    margin-left: 50px;
    text-align: center;
    background: transparent;
    color: grey;
    font-weight: 600;
    font-size: 1.2rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #212529;
    background-color: transparent;
}
.navbar-light .navbar-nav .nav-link:after{
	content: "";
	display: block;
    background-color: #212529;
    height: 2px;
    opacity: 0;	
}
.navbar-light .navbar-nav .nav-link:after{
	content: "";
	display: block;
    background-color: #212529;
    height: 2px;
    opacity: 0;
}
.navbar-light .navbar-nav .nav-link:hover:after,
.navbar-light .navbar-nav .nav-link:focus:after{
	opacity: 1;
	animation: underline 0.2s linear;
}
@keyframes underline{
	0%{
		width: 10%;
	}
	50%{
		width: 50%;
	}
	100%{
		width: 100%;
	}
}
@media (max-width: 768px){
	.navbar-brand{
		width: 50%;
	}
	.navbar-brand img{
		width: 70% !important;
	}
	.navbar-collapse{
		margin-top: 10px;
	}
	.navbar-nav{
	    border-bottom: 1px #212529 solid;
    	border-top: 1px #212529 solid;
	    margin-top: 5px;
    	padding: 10px 0;
	}
	.navbar-light .navbar-nav .nav-link {
	    line-height: 1;
	    width: 100%;
	    margin-left: 0;
	    background: transparent;
	    text-align: center;
	    color: #212529;
	    font-weight: 600;
	    font-size: 1rem;
	}
	.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
		background-color: rgba(0,0,0,0.05);
	}
}
/*header navbar*/
/*second content*/
.l-applications p{
	padding-top: 20px;
}
.tnc_text{
	right: 10px;
	bottom:0;
}
.list-inline.list-icons{
	margin-bottom: 20px
}
.l-inquiries,.l-software,.l-hardware, .l-form{
	padding: 40px 15px;
}
.l-inquiries h3,.l-software h3, .l-hardware h3, .l-form h3{
	margin-bottom: 20px
}
.l-inquiries h4{
	margin-bottom: 0;
	font-size: 1.2rem;
}
.pure-button-hover, .pure-button:focus, .pure-button:hover{
	text-decoration: none;
	color: #fff;
	background-image: linear-gradient(transparent,rgba(0,0,0,.05) 1%, rgba(0,0,0,0.3));
}
/*second content*/
/*software section*/
.card{
	padding: 0 25px;
	background: transparent;
	border:none;
}
@media (max-width: 768px){
	.card{
		padding: 25px 50px;
	}
	.list-icons > li{
		padding-left: 0;
	    display: flex;
	    width: 245px;
	    margin: auto;
	}
	.list-icons i {
	    font-size: 30px;
	    width: 50px;
	}
}
@media (max-width: 540px){
	.card{
		padding: 25px 0;
	}
}
/*software section*/
/*form section*/
.pure-form-retail{
	padding:20px 50px;
}
@media(max-width: 768px){
	.pure-form-retail{
		padding:20px;
	}
}
.modal-header .close {
    padding: 5px 1rem;
    margin: -1rem -1rem -1rem auto;
    position: absolute;
    right: 10px;
    top: 15px;
}
/*form section*/
/*faq*/
.faq-section{
	background-color: #d5d5d5;
}
.faq-inner-section{
	padding: 40px 0px;
}
.faq-section h3{
	border-bottom: 2px solid #212529;
	color: #212529;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}
.faq-section a{
	text-decoration: none;
	color: #212529;
	font-size: 1.1rem;
	font-weight: 600;
	display: flex;
}
.faq-section ol{
    font-weight: 600;
    padding-inline-start: 20px;
}
.faq-section li{
   padding:10px 0;
}
.faq-section .multi-collapse{
	font-size: 1rem;
	font-weight: lighter;
}
.faq-section a.faq_question:after{
	content: "\25b2";
    font-size: 1rem;
    line-height: 2;
    font-weight: 600;
    margin-left: auto;
}
.faq-section a.faq_question.collapsed:after {
    content: "\25bc";
    font-size: 1rem;
    line-height: 2;
    font-weight: 600;
    margin-left: auto;
}
.faq-section .download_link{
	border: none;
    background: transparent;
    text-align: left;
    display: contents;
    padding: 0;
    color: #007bff;
    font-size: 1.1rem;
    font-weight: 600;
}
.faq-section .download_link:hover{
	text-decoration: underline;
}
.faq-section .card{
	padding: 10px 0 0;
}
@media (min-width: 768px){
	.faq-section .download_link{
		display: contents !important;
	}
}
@media (max-width: 540px){
	.faq-section a{
		font-size: 1rem;
	}
	.faq-section .multi-collapse{
		font-size: 0.8rem;
	}
	.faq-section .download_link{
		font-size: 1rem;
	}
}
/*faq*/
/*footer*/
.l-footer {
    background-color: #383838;
    color: #ffffff;
    padding: 20px 15px;
    text-align: center;
    font-size: 1rem;
}
.l-wrapper{
	padding:0;
}
@media(max-width: 540px){
	.l-wrapper{
		padding: 0 15px;
	}
}
@media (max-width: 540px){
	.l-footer .list-inline > li {
		display: block;
    	padding-bottom: 15px;
	}
	.l-footer__right{
		padding-top: 15px;
	}
}
/*footer*/
/*loader*/
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #212529;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
   -webkit-animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*loader*/
/*speed_up*/
.speed_up_section{
	padding: 40px 0;
}
.speed_up_section h3{
	font-size: 1.5rem;
    color: #212529;
    margin-bottom: 30px;
}
.speed_up_section a{
	color: #fff;
    font-weight: 600;
    padding: 15px 25px;
    margin: 30px 10px;
    background: #3281c3;
    border-radius: 8px;
}
.speed_up_section a:hover{
	text-decoration: none;
	color: #fff;
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 1%, rgba(0,0,0,0.3));
}
@media (max-width: 540px){
	.speed_up_section a{
		display: block;
	}
	.speed_up_section h3{
		font-size: 1.2rem;
	}
}
/*speed_up*/
.modal-body a{
	color: #212529;
	font-weight: bold;
}
.modal-body a:hover{
	border-bottom: #212529 2px solid;
	text-decoration: none;
}
.modal-body div i{
	padding-right: 10px;
	font-weight: bold;
}
.l-footer a:hover{
	font-weight: 600;
}
@media (min-width: 769px){
	.l-footer__left{
		text-align: left;
	}
	.l-footer__right{
		text-align: right;
	}
}
/*end speed_up*/
/*testimonial*/
.testimonial-section{
	background: #1B5C8F;
	padding: 0;
    height: 50vh;
}
.testimonial-inner-section{
	margin: auto;
    height: 100%;
    display: flex;
}
.carousel-inner{
	width: 70%;
	margin: auto;
	height: 100%;
}
.carousel{
    padding: 20px 0;
    width: 100%;
}
.carousel-indicators li{
	width: 10px;
    border-radius: 20px;
    height: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.carousel-arrow-background {
    background-color: rgba(0,0,0,0.7);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
	margin: auto;
}
.carousel-control-next {
	right: 0;
    justify-content: flex-end;
}
.carousel-control-prev{
	left: 0;
    justify-content: flex-start;
}
.testimonial-image{
	width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	box-sizing:content-box;
}
.testimonial-detail{
    height: 360px;
}
.testimonial-comment{
	position: relative;
	background-color: #fff;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	box-sizing:content-box;
    border-radius: 20px;
    padding: 20px;
    height: 70%;
    width: 60%;
    margin: auto;
    margin-left: -15px;
}
.testimonial-comment-name{
	position: absolute;
	right: 20px;
	bottom:20px;
	font-weight: 600;
	font-size: 18px;
}
.testimonial-detail-mobile{
    height: auto;
    overflow: hidden;
    background-color: transparent;
}
.testimonial-image-mobile{
	margin: 10px 5px;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	box-sizing:content-box;
}
.testimonial-comment-mobile{
	background-color: #fff;
	border-radius: 20px;
	font-size: 1rem;
	padding: 20px;
	margin: 5px;
	height: 45%;
	box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
	box-sizing:content-box;
}
.testimonial-comment-mobile h2{
	font-size: 1.1rem;
	font-weight: 600;
}
@media(max-width: 991px){
	.testimonial-section{
		height: auto;
	}
	.carousel-indicators{
		margin-bottom: 0;
	}
	.carousel{
	    padding: 20px 0 40px;
	    width: 100%;
	}
	.list-inline.list-icons{
		margin-bottom: 0;
	}
	.list-icons > li{
		padding-bottom: 15px;
	}
}
@media (max-width: 540px){
	.testimonial-inner-section{
		padding:0 5px;
	}
	.testimonial-comment-mobile{
		padding: 20px 10px;
	}
	.testimonial-comment-mobile div{
		font-size: 0.7rem;
	}
	.testimonial-comment-mobile h2{
		font-size: 0.7rem;
	}
}
#bottom-inquiries.l-inquiries{
	padding:15px;
}